# Porta do servidor (default: 3000)
PORT=3000

# Chave de API para proteger endpoints (opcional)
# API_KEY=sua-chave-secreta-aqui

# Configurações Playwright
PLAYWRIGHT_HEADLESS=false
PLAYWRIGHT_TIMEOUT=120000
# Playwright service port (for remote API, default 3001)
PLAYWRIGHT_SERVICE_PORT=3001

# Playwright / debug
DEBUG=pw:api


# Logging
LOG_LEVEL=debug